.airport-wrapper {
    max-width: 1760px;
    width: 100%;
    padding: 40px 0;
    display: inline-flex;
    justify-content: flex-start;

    @include max-screen(1900px) {
        flex-direction: column;
    }
}
