.btn-tariff {
  width: 50px;
  height: 50px;
  background: $dark_blue;
  border-radius: 5px;
  position: relative;
  margin-right: 20px;
  min-width: 50px;

  &_airport {
    background: $white;
  }


}

.flaticon-cursor {
  font-size: 20px;
  color: $orange;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &_airport {
    color: $dark_blue;
  }
}

.btn-tariff-close {
  opacity: 0;
  display: none;
  background: $orange;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  position: relative;
  margin-right: 20px;
  min-width: 50px;
}





.flaticon-cancel {
  font-size: 20px;
  color: $white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

