.btn-tariff {
  width: 50px;
  height: 50px;
  background: $dark_blue;
  border-radius: 5px;
  position: relative;
  margin-right: 20px;

  &_airport {
    background: $white;
  }

  &_close {
    background: $orange;
  }
}

.flaticon-cursor {
  font-size: 20px;
  color: $orange;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &_airport {
    color: $dark_blue;
  }
}

.flaticon-cancel {
  font-size: 20px;
  color: $white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-question {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: $orange;
  border-radius: 5px;
  position: relative;
  // margin-right: 20px;
  z-index: 20;

  &:hover {
    background: $dark_blue;
  }
}

.btn-question-wrap:hover .high-demand {
  transition: opacity, width, .5s ease;
  opacity: 1;
  width: 290px;
}

.btn-question-wrap {
  position: absolute;
  bottom: 40px;
  left: 90px;
  height:auto;
  display: flex;
}

.flaticon-question {
  font-size: 16px;
  color: $white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flaticon-question:before {
  font-size: 10px;
}

.tariffs__item:hover,
.tariffs__item-service:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background: $white;
}
