main {
  box-sizing: border-box;
  padding: 0;
}

.main-nav {
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;

   &__item {
      @include f_proxima_400;
      font-size: 20px;
      color: $dark_blue;
      text-transform: uppercase;
      padding-top: 24px;

      &_page_tariffs {
        display: inline-block;
        color: $orange;
        border-bottom: 3px solid $orange;
        padding-bottom: 10px;
      }
   }
}
