.service-provider {
    display: none;
    opacity: 1;
    color: $white;
    margin: 0;
    padding: 0;
    @include f_proxima_400;
    font-size: 14px;
    line-height: 18px;

    @include max-screen(576px) {
        font-size: 13px;
        line-height: 18px;
    }

    &__link {
        color: $orange;
        @include f_proxima_400;
        font-size: 14px;
    }

    &__phone {
        color: $white;
        @include f_proxima_400;
        font-size: 14px;
    }

    li {
        list-style: decimal;
        list-style-position: inside;


    }
}
