.show-on-map {
    display: inline-flex;
    justify-content: space-between;
    padding-top: 50px;
    max-width: 275px;
    width: 100%;
    position: relative;

    @include max-screen(576px) {
        padding-top: 30px;
    }

    &__text {
        width: 205px;
        margin-top: 3px;
        cursor: pointer;

        &_airport p{
            text-decoration: underline;
            text-decoration-color: $white;

            &:hover {
                text-decoration: none;
                color: $white;
            }
        }
    }

    &__text-open {
        display: inline-block;
        text-decoration: underline;
        text-decoration-color: $gray;

        &:hover {
            text-decoration: none;
            color: $orange;
        }
    }

    &__text-close {
        opacity: 0;
        display: none;
        color: $orange;
        text-decoration: underline;
        text-decoration-color: $orange;

        &:hover {
            text-decoration: none;
        }
    }

    &_airport {
        @include max-screen(1200px) {
            padding-top: 30px;
        }
    }

}
