.show-on-map {
    display: inline-flex;
    justify-content: space-between;
    padding-top: 50px;
    max-width: 275px;
    width: 100%;

    @include max-screen(576px) {
        padding-top: 30px;
    }

    &__text {
        width: 205px;
        margin-top: 3px;



        &_airport p{
            text-decoration: underline;
            text-decoration-color: $white;
        }
    }

    &_airport {
        @include max-screen(1200px) {
            padding-top: 30px;
        }
    }
}

.show-on-map__text-open {
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: $gray;
}

.show-on-map__text-close {
    opacity: 0;
    display: none;
    color: $orange;
    text-decoration: underline;
        text-decoration-color: $orange;



}

//.show-on-map__text-close p {
//    display: inline;
//    text-decoration: underline;
//    text-decoration-color: red;
//}



.hidden {
    display: none !important;
    opacity: 0 !important;
}

.show {
    display: block !important;
    opacity: 1 !important;
}