.tariff {
  max-width: 215px;
  width: 100%;
  padding: 45px 0;
  position: relative;

  &_service {
    padding: 37px 0;
  }

  &__plan {
    @include f_proxima_600;
    font-size: 16px;
    color: $dark_blue;
  }

  &__plan-price {
    @include f_proxima_400;
    font-size: 16px;
    color: $blue;
    padding-bottom: 20px;

    &:last-of-type {
      padding-bottom: 0;
    }

    &_service {
      padding-bottom: 0;
    }
  }
}
