.tariffs-flex-wrap {
    max-width: 1760px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;


    @include max-screen(1700px) {
        flex-direction: column;
    }
}

.tariffs {
    max-width: 1760px;
    width: 100%;
    margin: 0 auto;

    @include max-screen(1700px) {
        max-width: 1200px;
        width: 100%;
    }

    @include max-screen(1200px) {
        max-width: 560px;
        width: 100%;
    }

    &__item {
        max-width: 560px;
        width: 100%;
        background: $light_gray;

        &_first_child {
            margin-right: 5px;

            @include max-screen(1700px) {
                margin-right: 40px;
            }

            @include max-screen (1200px) {
                margin-right: 0;
                margin-bottom: 40px;
            }
        }

        &:hover {
            transition: box-shadow, background, .5s ease;
            box-shadow: 0 5px 15px rgba(37,53,90,.75);
            background: $white;
        }
    }

    &__item-flex-wrap-top {
        width: calc(100% - 33.3333% - 15px);
        display: inline-flex;
        justify-content: space-between;

        @include max-screen(1700px) {
            max-width: 1700px;
            width: 100%;
            justify-content: flex-start;
        }

        @include max-screen (1200px) {
            justify-content: flex-end;
            flex-direction: column;
        }
    }

    &__item-flex-wrap-bottom {
        width: calc(100%/3*1);
        display: flex;
        justify-content: flex-end;

        @include max-screen(1700px) {
            max-width: 560px;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            padding-top: 40px;
        }
    }

    &__item-wrapper {
        padding: 40px;
        @include max-screen(480px) {
            padding: 40px 10px;
        }
    }

    &__item-airport {
        padding: 35px 40px;
        max-width: 640px;
        width: 100%;
        background: $orange;
        color: $white;
        min-height: 420px;
        box-sizing: border-box;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include max-screen(1700px) {
            max-width: 1120px;
            border-radius: 0;
        }

        @include max-screen(480px) {
            padding: 35px 10px;
        }
    }

    &__item-description {
        border-bottom: 1px solid $gray;
        padding-bottom: 30px;
        font-family: $f_gothic;
        font-size: 37px;
        margin: 0;
        color: $dark_blue;

        &_airport {
            border-bottom: none;

            padding: 0;
            color: $white;
            max-width: 240px;
            width: 100%;
        }

        &_service {
            padding-bottom: 15px;
        }

        &_app {
            border: none;
            color: $orange;
            padding-bottom: 160px;
        }
    }

    &__item-footer {
        border-top: 1px solid $gray;
        display: inline-flex;
        justify-content: space-between;
        width: 100%;

        @include max-screen(576px) {
            flex-direction: column-reverse;
        }

        &_airport {
            border: none;
            @include max-screen(1200px) {
                flex-direction: column-reverse;
            }

            p {
                color: $white;
            }
        }

        &_service {
            justify-content: flex-end;
        }

        &_app {
            justify-content: flex-start;
        }
    }
}
