.taxi-wrapper-rules {
    position: relative;
    min-height: 420px;
    height: auto;
    box-sizing: border-box;
    max-width: 1120px;
    width: 100%;
    background: $dark_blue;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 40px 110px;


    @include max-screen(1700px) {
        border-radius: 0;
    }

    @include max-screen(1200px) {
        // height: 690px;
    }

    @include max-screen(576px) {
        // height: 850px;
        // padding: 30px 10px 90px;
    }
}
